@tailwind base;
@tailwind components;
@tailwind utilities;


.centered {
    @apply flex items-center justify-center;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
  
  @media (max-width: 1400px) {
    .container {
      padding-left: 30px;
      padding-right: 30px;
      width: 100%;
    }
  }
  @media (max-width: 500px) {
    .container {
      padding-left: 16px;
      padding-right: 16px;
      width: 100%;
    }
  }