@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./react-date-picker.css");

.PhoneInputInput {
  @apply bg-transparent outline-none;
  display: flex;
  align-items: center;
  color: #000000;
}

.PhoneInputCountrySelect {
  background-color: #434343;
  border: none;
}

html {
  background-color: #fafafa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.centered {
  @apply flex items-center justify-center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}
h1 {
  @apply text-[80px] leading-[80px];
}
h2 {
  @apply text-[60px] leading-[60px];
}
h3 {
  @apply text-[44px] leading-[44px];
}
h4 {
  @apply text-[32px] leading-[32px];
}
h5 {
  @apply text-[22px] leading-[32.16];
}
h6 {
  @apply text-[20px] leading-[27.2px];
}
p {
  @apply font-normal;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}


@keyframes rotate-line {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.rotate-line {
transform-origin: 12px 14px; /* Center of rotation */
animation: rotate-line 3s linear infinite;
}